numpy==2.2.6
pandas==2.2.3
plotly==5.25.0
scikit-learn==1.6.1
xgboost==3.2.0
lightgbm==4.6.0
category_encoders==2.8.0
imbalanced-learn==0.13.0
joblib==1.4.2
streamlit==1.42.0
python-pptx==1.0.2
kaleido==0.2.1
